* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Casta-Thin";
    src: url(../media/fonts/Casta-Thin.otf) format(truetype);
}

h1, h2 {
    font-family: "Casta-Thin";
    font-weight: lighter;
    letter-spacing: clamp(0.2em, 1vw, 1em);
}

.cabecera > h1 {
    font-size: clamp(2.5rem, 8vw, 6rem);
    display: flex;
    flex-direction: column;
}

.cabecera > h2 {
    font-size: clamp(1rem, 3.5vw, 2.5rem);
}

.cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-top: 19em;
}

.menubarra {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: rgb(198, 156, 136);
    position: fixed;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    z-index: 1000;
}

.menubarra li {
    margin: 0 4em;
}

.menubarra a {
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.menubarra li:nth-child(1) a:hover {
  text-decoration: overline;
  text-decoration-color: #6890a6;
}

.menubarra li:nth-child(2) a:hover {
  text-decoration: overline;
  text-decoration-color: #c8a379;
}

.menubarra li:nth-child(3) a:hover {
  text-decoration: overline;
  text-decoration-color: #7878b4
}

.menu-barras {
    display: none;
}

.menu-responsive {
    display: none;
}


.fondo {
    background-image: url(../media/images/genshinstart.jpg);
    display: block;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}

header {
    margin: 0;
    padding: 0;
}

#intro {
    padding-top: 15vh;
    padding-bottom: 15vh;
    background-image: url(../media/images/fondo1.png);
    display: block;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#seccion-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#seccion-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.ts-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: clamp(1rem, 3.5vw, 2.5rem);
    margin-bottom: 1em;
}

.t-1 {
    font-size: 1.25em;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

.t-2 {
    font-size: 1.25em;
    justify-content: right;
    align-items: flex-end;
    display: flex;
    color: white;
}

.t-3 {
    font-size: 1.25em;
    justify-content: left;
    align-items: flex-start;
    display: flex;
    color: white;
}

.seccion > p {
    max-width: 55em;
    text-align: center;
    padding-bottom: 2em;
}

#seccion-2 > p {
    max-width: 30em;
    text-align: justify;
    padding-right: 4em;
}

#seccion-3 > p {
    max-width: 30em;
    text-align: justify;
    padding-left: 4em;
}

.img-apaisado {
    width: 65%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
}

.img-cuadrado1 {
    width: 25%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    border-radius: 100%;
}

.img-cuadrado2 {
    width: 25%;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    border-radius: 100%;
}

#ubi {
    padding-top: 15vh;
    padding-bottom: 15vh;
    background-image: url(../media/images/fondo2.2.png);
    display: block;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.mapa {
    width: 80%;
}

#form {
    padding-top: 15vh;
    padding-bottom: 15vh;
    background-image: url(../media/images/fondo3.png);
    display: block;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

#formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
  padding-top: 3em;
}

.form-text {
    color: white;
    font-size: 1.25em;
}

input, textarea {
    width: 100%; 
    height: 3em;
    border-radius: 2em;
    background-color: white;
    border: none;
    padding: 1.5em;
    max-width: 45%;
    box-shadow: 3px 3px 10px rgb(48, 48, 82)
}


span {
    color: rgb(48, 48, 82);
}


/* ventana modal formulario desktop*/

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #7973ac9d;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: rgb(48, 48, 82);
  padding: 2em 3em;
  border-radius: 3em;
  text-align: center;
  width: 100%;
  height: 65vh;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  position: relative;
  animation: fadeInUp 0.4s ease;
}

.modal-content h2 {
  color: white;
  margin-bottom: 2em;
  font-family: "Casta-Thin";
  font-size: 1.8em;
  padding-top: 2em;
  letter-spacing: 0.2em;
  font-weight: lighter;
}

.modal-content p {
  color: white;
  padding: 0.3em;
  font-size: 1.1em;
  font-weight: lighter;
}

.close {
  position: absolute;
  top: 0.6em;
  right: 0.75em;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

/* animacion ventana modal */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* footer */

#footer {
    padding-top: 5vh;
    padding-bottom: 3vh;
    color: white;
    background-color: rgb(76, 70, 114);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
}

.footer-cont {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.footer-cont > div {
    flex: 1;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    padding-top: 0.5em;
}

.logo {
    width: 50%;
    height: auto;
}

.iconos .media {
    padding-bottom: 0.5em;
}

.iconos {
    text-align: center;
    cursor: pointer;
}

.redes-icon {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    padding-top: 0.25em;
}

.contacto {
    text-align: center;
    padding-top: 0.9em;
    cursor: pointer;
}

.contacto p:first-child {
    margin-bottom: 0.5em;
}


.rights {
    display: flex;
    text-align: center;
    font-size: 0.9em;
    color: rgb(30, 28, 47);
    padding-top: 2em;
}

/* GALERIA */

.fondo-g {
    background-image: url(../media/images/fondogaleria.jpg);
    display: block;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;  
}

#galeria-cont {
    padding-top: 15vh;
    padding-bottom: 15vh;
    background-image: url(../media/images/fondo2.2.png);
    display: block;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
    overflow: hidden;
}

#galeria-cont div {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    justify-content: center;
}

:root {
  --tamano-cuadro: 52vh;
  --gap-galeria: 2vh;
}

figure {
  width: var(--tamano-cuadro);
  height: var(--tamano-cuadro);
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.897);
  position: relative;
}

figure img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}

figure:hover img {
    transform: scale(1.1);
}

.multimedia {
    padding-top: 5em;
}

.video-cont {
  position: relative;
  width: 75%;
  max-width: 73em;
  padding-bottom: 42%;
  overflow: hidden;
}

.video-cont iframe {
  position: absolute;
  width: 90%;
  height: 90%;
}


/* ENTRADAS */

.fondo-e {
    background-image: url(../media/images/fondoentradas.jpg);
    display: block;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#entradas-cont {
    padding-top: 15vh;
    padding-bottom: 15vh;
    background-image: url(../media/images/fondo3.png);
    display: block;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
    overflow: hidden;
}

#entradas-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5em;
}

#entradas-wrapper img {
    width: 50%;
    height: auto;
    object-fit: contain;
}

#entradas-wrapper h3 {
    color: white;
    font-size: 2.3em;
    font-family: "Casta-Thin";
    font-weight: lighter;
}

#entradas-wrapper p {
    color: white;
    font-size: 1.7em;
}

.entrada {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entrada .price {
    color: rgb(44, 40, 67);
    font-size: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.precio1,
.precio2 {
    padding: 0.35em;
}

.entrada .count {
    color: rgb(44, 40, 67);
    font-size: 1.5em;
}

.counter {
    display: flex;
    align-items: center;
    gap: 1em;
}

.counter button {
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
    border: none;
    background-color: rgb(66, 61, 99);
    color: white;
    font-size: 2.5em;
    font-family: "Casta-Thin";
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* calendario entradas */

:root {
    --calendar-bg: #4e4e82;
    --calendar-color: white;
    --calendar-hover: #7973ac;
}

.calendar {
    background-color: var(--calendar-bg);
    color: var(--calendar-color);
    padding: 3em;
    width: 40em;
    text-align: center;
    margin: 1.5em auto;
    border-radius: 5em;
}

.calendar * {
    color: var(--calendar-color);
}

.calendar h3 {
    margin-bottom: 1.5em;
    font-family: "Casta-Thin";
    font-weight: lighter;
    letter-spacing: 0.1em;
    font-size: 1.8em;

}

.days-names {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.20em;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.dates .day {
    padding: 1em;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 1.20em;
}

.dates .day:hover {
    background-color: var(--calendar-hover);
    color: white;
}

/* boton comprar entradas y formulario*/

.boton {
    color: white;
    background-color: rgb(66, 61, 99);
    font-family: "Casta-Thin";
    font-weight: lighter;
    border: none;
    text-align: center;
    padding: 0.5em;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    border-radius: 2em; 
    height: 2.5em;
    min-width: 18%;
    margin-top: 2em;
    margin-bottom: 2em;
    box-shadow: 3px 3px 10px rgb(78, 78, 109);
    justify-content: center;
    align-items: center;
}

input.boton {
    max-width: 20%;
}

.boton:hover { 
    background-color: #4e4e82;
}

/* compra final */

#button {
    list-style: none;
    text-decoration: none;
    color: white;
}

#comprafinal {
    background-image: url(../media/images/stars.gif);
    display: block;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    opacity: 95%;
}

#comprafinal h2 {
    color: white;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 16.5%;

}

/* body */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* media queries responsive movil */

@media (max-width: 600px) {

    .menu-barras {
        display: block;
        position: fixed;
        cursor: pointer;
        top: 1em;
        left: 1em;
        z-index: 2000;
        font-size: 1.5em;
        margin-top: 0.75em;
        color: white;
    }

    .menu-responsive {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(12px);
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1900;
    }

    .menu-responsive ul {
        list-style: none;
    }

    .menu-responsive li {
        margin: 2em;
    }

    .menu-responsive a {
        text-decoration: none;
        font-size: 2em;
        color: white;
        transition: color 0.2s ease;
    }

    .menu-responsive li:nth-child(1) a:hover {
        text-decoration: overline;
        text-decoration-color: #6890a6;
    }

    .menu-responsive li:nth-child(2) a:hover {
        text-decoration: overline;
        text-decoration-color: #c8a379;
    }

    .menu-responsive li:nth-child(3) a:hover {
        text-decoration: overline;
        text-decoration-color: #7878b4
    }

    .menu-responsive.activo {
        transform: translateX(0);
    }

    #cerrar-menu {
        position: absolute;
        top: 1.2em;
        right: 1.2em;
        font-size: 2em;
        cursor: pointer;
        display: block;
        color: white;
    }

    :root {
        --titulo-pg: 5em;
        --subt-pg: 2em;
        --titulo-sc: 3.1em;
        --subt-sc: 1.4em;
    }

    .hamburguesa {
        display: block;
    }

    .menubarra {
        display: none;
    }

    .cabecera h1 {
        text-align: center;
        font-size: var(--titulo-pg);
        padding-left: 0.15em;
    }

    .cabecera h2 {
        text-align: center;
        font-size: var(--subt-pg);
    }

    .ts-1 {
        font-size: var(--titulo-sc);
        padding: 1em;
        text-align: center;
        padding-bottom: 0;
    }

    #seccion-2, #seccion-3 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

    #seccion-2 > p,
    #seccion-3 > p {
        max-width: 90%;
        padding: 1em;
        font-size: var(--subt-sc);
        text-align: center;
    }

    .seccion > p {
        max-width: 90%;
        font-size: var(--subt-sc);
        margin-bottom: 1em;
    }

    
    .img-apaisado,
    .img-cuadrado1,
    .img-cuadrado2 {
        width: 90%;
        height: auto;
        margin-bottom: 1em;
    }

    input {
        max-width: 75%;
    }

    #formulario > p {
        font-size: var(--subt-sc);
    }

    #nombre,
    #email,
    #comment {
        font-size: var(--subt-sc);
    }

    .boton {
        font-size: 1.8em;
        max-width: 100%;
    }

    input.boton {
        max-width: 40%;
    }


    .footer-cont {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1em;
    }

    .logo {
        width: 75%;
        padding-left: 4em;
        padding-bottom: 1em;

    }

    .redes-icon {
        justify-content: center;
    }

    .contacto {
        text-align: center;
    }

    figure {
        width: 25em;
        height: 25em;
    }

    #entradas-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .entrada {
        width: 100%;
        padding-bottom: 2.2em;
    }

    .calendar {
        width: 95%;
        padding: 1.5em;
    }

    .days-names {
        width: 100%;
    }

    .cont {
        padding-top: 33%;
    }

    .cont > h2 {
        max-width: 8em;
    }

    #modal {
        font-size: 1.25em;
    }

}

/* media queries tablet responsive */

@media (min-width: 601px) and (max-width: 1024px) {

    .menu-barras {
        display: block;
        position: fixed;
        cursor: pointer;
        top: 1em;
        left: 1em;
        z-index: 2000;
        font-size: 2.5em;
        margin-top: 0.75em;
        color: white;
    }

    .menu-responsive {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(12px);
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1900;
    }

    .menu-responsive ul {
        list-style: none;
    }

    .menu-responsive li {
        margin: 3em;
    }

    .menu-responsive a {
        text-decoration: none;
        font-size: 3em;
        color: white;
        transition: color 0.2s ease;
    }

    .menu-responsive li:nth-child(1) a:hover {
        text-decoration: overline;
        text-decoration-color: #6890a6;
    }

    .menu-responsive li:nth-child(2) a:hover {
        text-decoration: overline;
        text-decoration-color: #c8a379;
    }

    .menu-responsive li:nth-child(3) a:hover {
        text-decoration: overline;
        text-decoration-color: #7878b4
    }

    .menu-responsive.activo {
        transform: translateX(0);
    }

    #cerrar-menu {
        position: absolute;
        top: 1.2em;
        right: 1.2em;
        font-size: 3.5em;
        cursor: pointer;
        display: block;
        color: white;
    }

    .menubarra {
        display: none;
    }

    :root {
        --titulotablet1: 7em;
        --subtablet1: 3em;
        --titulotablet2: 5em;
        --subtablet2: 2.5em;
    }

    .cabecera h1 {
        font-size: var(--titulotablet1);
        padding-top: 2em;
    }

    .cabecera h2 {
        font-size: var(--subtablet1);
    }

    .img-apaisado,
    .img-cuadrado1,
    .img-cuadrado2 {
        width: 90%;
        height: auto;
        margin-bottom: 1em;
    }

    .ts-1 {
        font-size: var(--titulotablet2);
        padding: 1em;
        text-align: center;
        padding-bottom: 0;
    }

    #seccion-2, #seccion-3 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #seccion-2 > p,
    #seccion-3 > p {
        max-width: 90%;
        padding: 1em;
        font-size: var(--subtablet2);
        text-align: center;
    }

    .seccion > p {
        max-width: 90%;
        font-size: var(--subtablet2);
        margin-bottom: 1em;
    }

    input {
        max-width: 75%;
    }

    #formulario > p {
        font-size: var(--subtablet2);
    }

    #nombre,
    #email,
    #comment {
        font-size: 2em;
    }

    .boton {
        font-size: 2.5em;
        max-width: 100%;
    }

    #entradas-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .entrada {
        width: 100%;
        padding-bottom: 2.2em;
    }

    .calendar {
        width: 85%;
        padding: 1.5em;
    }

    .days-names {
        width: 100%;
    }
    
    .entrada {
        font-size: 2em;
    }

    .cont {
        padding-top: 28%;
    }

    .cont > h2 {
        max-width: 8em;
    }

    .subfinal {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-size: 3em;
        text-align: center;
    }

    #modal {
        padding: 0;
        margin: 0;
    }

    .modal-content {
        width: 70%;
        box-sizing: border-box;
        max-width: 40em;
        padding: 3em;
        border-radius: 3em;
        text-align: center;
    }

    #modal h2 {
        font-size: 3.35em;
    }

    #modal p {
        font-size: 2.25em;
    }

    .close {
        font-size: 3em;
    }
}